body {
  position: relative;
}

.task-field,
.btn,
.result-block,
.modal-error {
  font-family: 'Arial', sans-serif;
  font-size: 14px;
  color: #25102c;
  margin: 10px 5px;
  padding: 8px 10px;
  border: 2px solid #006fa6;
  border-radius: 4px;
}

.task-field {
  resize: none;
}

.task-field:focus,
.btn:focus {
  outline-offset: -1px;
  outline-width: 1px;
  outline-color: #0677ef;
}

.task-field:hover,
.btn:hover,
.modal-error:hover {
  box-shadow: 0 0 10px #6b9bc1;
}

.task-field:active,
.btn:active {
  background-color: #91c2e8;
}

.btn--calculate {
  vertical-align: top;
}

.result-block {
  padding: 0;
  border: none;
}

.modal-error {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 8px 15px;
  background-color: #91c2e8;
  outline-offset: -1px;
  outline-width: 1px;
  outline-color: #0677ef;
}

.modal-error:hover {
  background-color: #d3e1f2;
}

.hidden {
  display: none;
}